@model IEnumerable<BookLibrary.Models.Book>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<table class="table table-striped" style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentPrice)
        </td>
        @{
            if (item.ApplicationUserId != null)
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Rent", "Book", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            }
        }
        
    </tr>
}

    @Html.ActionLink("Administrator List", "AdminList")


</table>